input[type=text], select {
  width: 40%;
  padding: 8px 10px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #d463d8;
  color: white;
  padding: 14px 20px;
 margin-left: 180px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d463d8;
}

div {
  border-radius: 5px;
  background-color: #c6e291;
  padding: 20px;
  width: 80%;
}